<!DOCTYPE html>
<html>
  <%- include('header'); -%>
  <%- include('navbar'); -%>
  <body>
    <div class="container">
      <h1 class="display-4 pt-3" style="font-size: 35px; text-align: center;">Frequently Asked Questions</h1>
      <div class="pt-5">
        <button class="btn btn-secondary mx-auto" style="margin-left: auto; margin-right: auto; display: block; width: 100%;" type="button" data-toggle="collapse" data-target="#faq1" area-expanded="false" aria-controls="collapseExample">What is Noted.zip?</button>
        <div class="collapse" id="faq1">
          <div class="card">
            <div class="card-body">
              Noted.zip is an app for creating and sharing shopping lists, to-do lists, and more. Lists can be shared and updated between as many people as needed! Simply create a list, and share the list ID with others.
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('footer'); -%>
  </body>
</html>
