<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <form action="/list/new_list">
            <button class="btn btn-primary">New List</button>
          </form>
        </div>
        <div class="col">
          <form id="existing_list_form">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input type="text" class="form-control" id="list_id" aria-describedby="list_id" placeholder="Existing List ID">
                </div>
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script>
      document.getElementById('existing_list_form').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevents form from submitting in the usual way
        var inputVal = `/list/${document.getElementById('list_id').value}`;
        this.action = inputVal;  // Changes form action to the value of the input
        this.submit();  // Submits the form
      });
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G2N43K6QS7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-G2N43K6QS7');
    </script>
  </body>
</html>
