<!DOCTYPE html>
<html>
  <%- include('header'); -%>
  <%- include('navbar'); -%>
  <body>
    <div class="container pt-3">
      <div class="row">
        <div class="col">
          <form action="/list/new_list">
            <button class="btn btn-dark">New List</button>
          </form>
        </div>
        <div class="col">
          <form id="existing_list_form">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input type="text" class="form-control" id="list_id" aria-describedby="list_id" placeholder="Existing List ID">
                </div>
              </div>
              <div class="col">
                <button type="submit" class="btn btn-dark">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
      document.getElementById('existing_list_form').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevents form from submitting in the usual way
        var inputVal = `/list/${document.getElementById('list_id').value}`;
        this.action = inputVal;  // Changes form action to the value of the input
        this.submit();  // Submits the form
      });
    </script>
    <%- include('footer'); -%>
  </body>
</html>
