<!DOCTYPE html>
<html>
  <%- include('header'); -%>
  <body>
    <form action="/">
      <button class="btn btn-primary">Home</button>
    </form>
    <br>
    <div class="row">
      <div class="col"><span></span>
        <h5 style="display: inline-block">List ID:</h5>
        <p id="list_id" style="display: inline-block"><%= list_id %></p>
        <button class="btn" onclick="copyToClipboard()"><i class="fa-solid fa-copy"></i></button>
        
      </div>
    </div>
    <br>
    <div class="container">
      <ul class="list-group" id="shopping_list_items">
        <% if (items.length > 0) { %>
          <% items.forEach(function(item,index){ %>
              <li class="list-group-item" contenteditable="true" onblur="saveChanges()"> <%= item %> </li>
          <% }) %>
        <%} else { %>
          <li class="list-group-item" contenteditable="true" onblur="saveChanges()"></li>
        <% } %>
        
      </ul>
    </div>
    <script src="/javascripts/list.js"></script>
    <%- include('footer'); -%>
  </body>
</html>
