<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand rainbow-text animated" data-splitting style="font-family: 'Chakra Petch', sans-serif;" href="/">Noted.zip</a>
    </div>
</nav>
